<div class="container about-container">
    <header class="business-header">
            <div class="container">
            </div>
        </header>

        <!-- Page Content -->
        <div class="container">

            <hr>

            <div class="row">
                <div class="col-sm-8 about-text">
                    <h2><strong>What We Do</strong></h2>
                    <p>We scour the galaxy for the most popular Star Wars items at the lowest prices.  We partner with the biggest online retailers to provide you with an unmatched selection.</p>
                    <p>Our products are updated daily so be sure to check back to see what's new!</p>
                </div>
                <div class="col-sm-4 about-contact">
                    <h2>Contact Us</h2>
                    <address>
                        <strong>Managed by:</strong>
                        <br>215 Labs <i class="fa fa-flask"></i>
                        <br>Email: <a href="mailto:#">215labs@gmail.com</a>
                        <br>
                    </address>
                </div>
            </div>

            <hr>
</div>