<div class="container">
    <div class="col-md-12">
        <div class="center-block text-center">
            <h1>Star Wars Swag</h1>
            <p class="lead">Fine goods from across the galaxy</p>
        </div>
        <div class="container">
            <div class="menu row">
                <div class="product col-sm-6">
                  <%= image_tag('swo.jpg', class: 'img-responsive') %>
					<hr>
                    <h2>Star Wars Swag</h2>
                    <p>Description: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate. 
                    Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis 
                    dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan. 
                    Aliquam in felis sit amet augue.</p>
                    <hr>
                  	<h2 class="text-right">$39</h2>
                    <button class="btn btn-primary btn-lg ">Add to Cart</button>
                    <hr>
                   
                    
                    <!-- <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#reviews">Reviews</a></li>
                        <li><a data-toggle="tab" href="#details">Details</a></li>
                        <li><a data-toggle="tab" href="#sizing">Sizing</a></li>
                    </ul> -->
                  
<!--                   	<div class="tab-content">
                      <div class="tab-pane active" id="reviews">
                      
                        <h4>Buyer Reviews</h4>
                        <ul class="list-unstyled">
                          <li class="clearfix">(Mike R.) I bought this last month before a.. <i class="fa fa-star fa-2x yellow pull-right"></i></li>
                          <li class="clearfix">(Karen) The size of this jacket was a little larger.. <i class="fa fa-star fa-2x yellow pull-right"></i></li>
                          <li class="clearfix">(CAS) I love this jacket. I purchased this as part..  <i class="fa fa-star fa-2x yellow pull-right"></i><i class="fa fa-star fa-2x yellow pull-right"></i></li>
                          <li class="clearfix">(William D.) Great value with cool style. If you want.. <i class="fa fa-star fa-2x yellow pull-right"></i></li>
                        </ul>
                      
                      </div>
                      <div class="tab-pane" id="details"><h4>Product Information</h4></div>
                      <div class="tab-pane" id="sizing"><h4>Size Chart</h4></div>
                     </div> -->
                  
                    
                </div>
                <div class="col-sm-6">
                    <div class="productsrow">
                        <div class="product menu-category">
                            <div class="menu-category-name list-group-item active">Trending</div>
                            <div class="product-image">
                                <img class="product-image menu-item list-group-item" src="https://img0.etsystatic.com/070/0/6849517/il_570xN.813269762_o3mv.jpg">
                            </div>

                        </div>
                        <div class="product menu-category">
                            <div class="menu-category-name list-group-item active">Apparel</div>
                            <div class="product-image">
                                <img class="product-image menu-item list-group-item" src="https://img1.etsystatic.com/041/0/8438371/il_570xN.537763513_2pxc.jpg">
                            </div> <a href="#" class="menu-item list-group-item">Dark Blue Jeans<span class="badge">$80</span></a>

                        </div>
                        <div class="product menu-category">
                            <div class="menu-category-name list-group-item active">Jewlery</div>
                            <div class="product-image">
                                <img class="product-image menu-item list-group-item" src="https://img1.etsystatic.com/066/0/11113724/il_570xN.801435851_4rx8.jpg">
                            </div> <a href="#" class="menu-item list-group-item">Light Grean Chinos<span class="badge">$59</span></a>

                        </div>
                        <div class="product menu-category">
                            <div class="menu-category-name list-group-item active">Home Goods</div>
                            <div class="div-image">
                                <img class="product-image menu-item list-group-item" src="http://ecx.images-amazon.com/images/I/41Krm7ywtdL.jpg">
                            </div> <a href="#" class="menu-item list-group-item">Denim Jacket<span class="badge">$56</span></a>

                        </div>
                        <div class="product menu-category">
                            <div class="menu-category-name list-group-item active">Accessories</div>
                            <div class="product-image">
                                <img class="product-image menu-item list-group-item" src="http://ecx.images-amazon.com/images/I/51UKMkn9DwL.jpg">
                            </div> <a href="#" class="menu-item list-group-item">Socks<span class="badge">$56</span></a>

                        </div>
                        <div class="product menu-category">
                            <div class="menu-category-name list-group-item active">Belt</div>
                            <div class="product-image">
                                <img class="product-image menu-item list-group-item" src="http://ecx.images-amazon.com/images/I/51Vg54bD9VL.jpg">
                            </div> <a href="#" class="menu-item list-group-item">Brown Belt<span class="badge">£18</span></a>

                        </div>
                        <div class="product menu-category">
                            <div class="menu-category-name list-group-item active">Layer</div>
                            <div class="product-image">
                                <img class="product-image menu-item list-group-item" src="http://ecx.images-amazon.com/images/I/51JG9LVpWvL.jpg">
                            </div> <a href="#" class="menu-item list-group-item">Shawl Neck<span class="badge">46</span></a>

                        </div>
                    </div>
                </div>
            </div>
            <!--/row-->
        </div>
        <!--/container-->
    </div>
</div>

<hr>
<!--/template-->
 <%= render @products %>


</div>
